*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
    background: rgb(189, 211, 206);
}
.offpage
{
    margin:5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.onpage
{
    height:40vh;
    background: #010727;
    margin-bottom:15vh;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
}
.onpage h1
{
    text-align: center;
    padding-top:4vh;
    font-size: 4vw;
    color:rgb(255, 180, 67);
    font-variant: small-caps;
}
.onpage .ingridient
{
    margin-top:8vh;
    padding:1vh;
    position: relative;
    left:34%;
    width:20%;
    border-radius: 5px;
    border:none;
}
.onpage .submitbtn
{
    margin-top:8vh;
    padding:1vh;
    position: relative;
    left:34%;
    width:8%;
    border-radius: 5px;
    border:none;
    background: rgb(49, 119, 124);
    color: rgb(238, 236, 236);
    font-weight: 600;
}
.gencontainer
{
    color:rgb(255, 180, 67);
    height:50vh;
    width: 40vw; 
    margin: 5vh;
    overflow: hidden;
    background: #010727;
    display: grid;
    grid-template-columns: 1.2fr 1fr ;
    grid-template-rows: 1fr ;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(75, 74, 74);
    overflow: hidden;
}
.genimg
{
    height:100%;
    width:100%;
    object-fit: cover;
    overflow: hidden;
    grid-row: 1/2;
    grid-column:2/3 ;
}
.geninfo
{
    margin:5%;
    margin-top:8%;
}
.genhead
{
    margin:3vh;
    font-size:25px;
}
.genpara
{
    margin:3vh;
    font-size:15px;
    font-weight: 600;
    color:rgb(148, 93, 93);
}
a
{
    text-decoration: none;
}
.genbtn
{
    margin-top:5vh;
    background:rgb(49, 119, 124);
    color:white;
    padding:1vh;
    margin-left:5%;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}
.genbtn2
{
    margin-top:2vh;
    background:rgb(49, 119, 124);
    color:white;
    padding:1vh;
    margin-left:5%;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}
.genback
{
    display: none;
}
.whatto
{
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
    font-size: 2vw;
    color:lightslategray;
}
#sel
{
    margin-top:8vh;
    padding:1vh;
    position: relative;
    left:34%;
    width:4%;
    border-radius: 5px;
    border:none;
    -moz-appearance:none;
    -webkit-appearance:none; 
    appearance:none;
    background: rgb(219, 219, 219);
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(49, 119, 124)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 3px;
}




@media only screen and (max-width:1100px)
{
    .offpage
{
    margin:4%;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
}
.gencontainer
{
    grid-template-columns: 1fr ;
    grid-template-rows:1fr 1.4fr;
    height:80vh;
    width: 40vw; 
    margin: 5vh;
}
.genimg
{
    grid-row: 1/2;
    grid-column:1/2 ;
}
.onpage h1
{
    padding-top:10vh;
    font-size: 5vw;
}
.onpage .ingridient
{
    left:33%;
    width:20%;
}
.onpage .submitbtn
{

    left:33%;
    width:10%;
}
#sel
{
    left:33%;
    width:5%;
}
.whatto
{
    font-size: 6vw;
}
}






@media only screen and (max-width:800px)
{
    .offpage
{
    grid-template-columns:1fr;
}
.gencontainer
{
    grid-template-columns: 1fr ;
    grid-template-rows:1fr 1.4fr;
    height:80vh;
    width: 80vw; 
    margin: 5vh;
}
.genimg
{
    grid-row: 1/2;
    grid-column:1/2 ;
    width:100%;
}
.onpage h1
{
    padding-top:10vh;
    font-size: 6vw;
}
.onpage .ingridient
{
    left:25%;
    width:30%;
}
.onpage .submitbtn
{

    left:25%;
    width:15%;
}
#sel
{
    left:25%;
    width:8%;
}
.whatto
{
    font-size: 6vw;
}
}



@media only screen and (max-width:450px)
{
    .offpage
{
    grid-template-columns:1fr;
}
.onpage h1
{
    font-size: 10vw;
}
#sel
{
    left:15%;
    width:10%;
}
.onpage .ingridient
{
    left:15%;
    width:40%;
}
.onpage .submitbtn
{

    left:15%;
    width:22%;
}
}

